{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "extensions": [".*"],
        "root": ["./src"],
        "alias": {
          "@assets": "./src/assets",
          "@components": "./src/components",
          "@screens": "./src/screens",
          "@utils": "./src/utils",
          "@constants": "./src/constants",
          "@configs": "./src/configs"
        }
      }
    ]
  ]
}
