{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "extensions": [".*"],
        "root": ["./src"],
        "alias": {
          "@assets": "./src/assets",
          "@components": "./src/components",
          "@pages": "./src/pages",
          "@utils": "./src/utils",
          "@constants": "./src/constants",
          "@configs": "./src/configs",
          "@dtos": "./src/dtos"
        }
      }
    ]
  ]
}
